<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tv.box"
    android:versionCode="5"
    android:versionName="0.7" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.tv.box.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.tv.box.ui.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tv.box.ui.SettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.WifiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.ParentLockActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.HostPasswordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.VersionCheckActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.SingleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.CAActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.SearchChannelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.FactoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.tv.box.ui.SystemActivity"
            android:screenOrientation="landscape" />

        <service android:name="com.tv.box.upnp.WireUpnpService" />
    </application>

</manifest>